body {
    margin: 0;
    font-family: 'Noto Sans Nushu', sans-serif;
    background-color: #dae9ec63;
}

.box {
    width: 100%;
    height: 90px;
    background-color: #4EB9CD;
    display: flex;
    align-items: center;
}


.box p {
    font-size: 15px;
    margin-right: 88px;
    margin-top: 55px;
    color: white;
}

.logo-oceanlife {
    width: 200px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.usuario { 
  position: absolute; 
  top: 27px; 
  right: 22px; 
  width: 37px; 
  height: auto; 
  cursor: pointer;
}

.exit {
    margin-right: auto;
}

.sair {
    width: 27px;
    margin-left: 20px;
}

.menu {
    background-color: #4EB9CD;
    padding: 10px;
    box-shadow: 0px 4px 4px -2px rgba(3, 3, 3, 0.11);
    border-radius: 0 0 6px 6px;
}
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}
  
  .menu li {
    margin-right: 80px;
    position: relative; 
}
  
  .menu li a {
    text-decoration: none;
    color: #fcfcfc;
    padding-bottom: 5px; 
    font-weight: bold;
}
  
  .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: rgba(17, 70, 100, 0.247); 
    transform: scaleX(0); 
    transition: transform 0.2s ease; 
}
  
  .menu li:hover::after {
    transform: scaleX(1); 
}


#agendar {
    color: #0085a0;
}


.label {
    width: 300px;
    text-align: center;
}

.label-calendario {
    width: 300px;
    text-align: center;
    margin-top: 40px;
}

.select {
    margin-top: 15px;
    padding-left: 10px;
}

.container {
    display: flex;
}

.input-select {
    flex-direction: column;
    padding-top: 100px;
    margin-left: 200px;
    align-items: center;
    margin-bottom: 120px;
    height: 100vh;
    border-right: 2px solid #4ebacd48;
    width: 43%; 
}


#select-pontoscoleta {
    width: 300px;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #D4D0D0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


input[type="date"] {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #D4D0D0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-left: 9px;
}


.label-horario {
    margin-top: 40px;
}

#horario {
    margin-top: 10px;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #D4D0D0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-agendar {
    cursor: pointer;
    margin-top: 10px;
    width: 110px;
    height: 37px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #75be5375;
    background-color: #68EC2A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}

.input-select, 
.input-agendar,
.select-pontoscoleta,
input[type="date"]:focus {
    outline: none;
}

label {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #335c63f5;
}

.right {
    display: flex;
    width: 57%;
    height: 100vh;
    flex-direction: column;
}

.box-p{
    background-color: #ffffff;
    margin-left: 70px;
    margin-top: 20px;
    border: 1px solid #D4D0D0;
    height: 60px;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    color: #686666;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    box-shadow: 0px 4px 4px -2px rgba(3, 3, 3, 0.11);
}


.historico {
    margin-top: 15px;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: #53B6D6;
   font-family: 'Rubik', sans-serif;
}