body {
    margin: 0;
    font-family: 'Noto Sans Nushu', sans-serif;
    background-color: #8ad9ec38;
}


.box {
    width: 100%;
    height: 90px;
    background-color: #4EB9CD;
    display: flex;
    align-items: center;
}


.box p {
    font-size: 15px;
    margin-right: 88px;
    margin-top: 55px;
    color: white;
}

.logo-oceanlife {
    width: 200px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.usuario { 
  position: absolute; 
  top: 27px; 
  right: 22px; 
  width: 37px; 
  height: auto; 
  cursor: pointer;
}

.exit {
    margin-right: auto;
}

.sair {
    width: 27px;
    margin-left: 20px;
}

.destaque {
    padding: 30px;
    margin-top: 3px;
    align-items: center; 
    justify-content: center; 
}

.destaque img {
    width: 90%;
    margin-left: 80px;
    height: auto;
    cursor: pointer;
    border-radius: 20px;
}

.destaque img:hover {
    transform: scale(1.01);
    transition: all 0.4s;
    box-shadow: 0 0 10px rgba(13, 98, 124, 0.3);
    border-radius: 20px;
}

.menu {
    background-color: #4EB9CD;
    padding: 10px;
    box-shadow: 0px 4px 4px -2px rgba(3, 3, 3, 0.11);
    border-radius: 0 0 6px 6px;
}
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}
  
  .menu li {
    margin-right: 80px;
    position: relative; 
}
  
  .menu li a {
    text-decoration: none;
    color: #fcfcfc;
    padding-bottom: 5px; 
    font-weight: bold;
}
  
  .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: rgba(17, 70, 100, 0.247); 
    transform: scaleX(0); 
    transition: transform 0.2s ease; 
}
  
  .menu li:hover::after {
    transform: scaleX(1); 
}

.boxprincipal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
    position: absolute;
    top: 27em;
}

.text-ocean {
  position: absolute;
  top: 35em;
  display: inline-block;
  cursor: pointer;
  overflow: hidden; 
  width: 100%;
}


.text-ocean img{
  width: 70%;
  margin-left: 230px;

}

.bolhas {
  position: absolute;
  top: 0;
  left: 230px;
  width: 70%;
  height: 70%;
  background-image: url('/img/bolha.png');
  background-position: center;
  background-size: 30%;
  pointer-events: none;
  z-index: 1;
  transition: transform 1s;
  transform: translateY(100%);
  opacity: 0;
}

.text-ocean:hover .bolhas {
  transform: translateY(-35%);
  opacity: 0.5;
  top: 10%;
  transition-delay: 0.2s;
  transition-duration: 3s;
}

.h1-empresas {
  position: absolute;
  top: 62em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  top: 640px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.card {
  width: 230px; 
  background-color:  #ade5eb;
  border-radius: 20px; 
  text-align: center;
  padding: 25px;
  margin: 15px;
  color: #476a70;
}

.card:hover {
  transform: scale(1.01);
  transition: all 0.4s;
  box-shadow: 0 0 10px rgba(141, 201, 241, 0.3);
  border-radius: 20px;
}

.ver-mais {
  display: block;
  width: 100%; 
  margin-top: 10px; 
  margin-bottom: 0; 
  background-color: #4EB9CD;
  font-weight: bolder;
  color: #ffffff;
  border: none;
  padding: 9px 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ver-mais:hover {
  background-color: #7CEDE7;
}

.card-image {
  border-radius: 15px 15px 0 0;
}

h1{
  color: #42838f;
  font-family: 'Alexandria', sans-serif;
}