body {
    font-family: 'Rubik', sans-serif;
    background-image: url(/img/tela1.png);
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: block;
    flex-direction: row;
    background-color: #FBFBFB;
}


.logo-oceanlife {
    width: 340px;
    float: right;
    top: 30px;
    right: 30px;
}

.geral{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #128AB0;
    font-size: 50px; 
    margin-bottom: 10px;
}


main {
    height: 100vh;
}

.p {
    margin-top: 7px;
}


input {
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    text-indent: 20px;
    margin-bottom: 7px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #128bb070; 
  }

.input-icon {
    position: relative;
        
}

.input-icon input {
    padding-left: 30px; 
}

.input-icon::before {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.input-icon.email::before {
    content:url(/img/usuario.png);
   
}

.input-icon.senha::before {
    content:url(/img/chave.png);
}

button {
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    background-color: #128AB0;
    color: #ffff;
    width: 290px;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: #A0D7FB;
    color: #0F5387;
}

.senha {
    color: #ffff;
}

p {
    color: #ffff;
}

.cadastro {
    color: #0F5387;
}
